@import '@/styles/index.scss'; 

.header {
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.4s;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    z-index: 999;
}
  
.header.bleu {
    background-color: var(--header-color);
    border-bottom: 1px solid var(--header-border);
}