@import '@/styles/index.scss';

.main {
  padding-bottom: 150px;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

.tab {
  width: 100%;
}

.list {
  margin-bottom: 40px;
}

.trigger {
  color: var(--text-color);
}

.trigger[data-state='active'] {
  color: $orange
}