@import "@/styles/index.scss";

.button {
    background-color: $orange;
    color: white;
    border-radius: 6px;
    padding: 10px 15px;
    border: 1px solid $orange;
    width: max-content;
    min-width: 125px;

    &:hover {
        background-color: $orangeHover;
        border: 1px solid $orangeHover;
    }
}

.modalBtn {
  background-color: $orange;
  color: white;

  &:hover {
    background-color: $orangeHover;
  }
}

.secondaryBtn {
    background-color: transparent;
    color: var(--orange);
    border-radius: 6px;
    padding: 10px 15px;
    border: 1px solid var(--orange);
    width: max-content;
    min-width: 125px;

    &:hover {
        background-color: $hover;
        color: var(--orange-dark);
    }
}

.icon {
  background-color: transparent;
  color: white;
  border: 1px solid var(--theme-border);
  border-radius: 6px;
  padding: 10px 10px;
  width: max-content;

  &:hover {
    background-color: $hover;
    color: black;
  }
}

.editBtn {
  color: var(--admin-primary);
  &:hover {
    background: var(--admin-primary);
    color: #fff;
  }
}

.deleteBtn {
  color: var(--admin-danger);
  &:hover {
    background: var(--admin-danger);
    color: #fff;
  }
}