@import "@/styles/index.scss";

.modalBtn {
  background-color: $orange;
  color: white;

  &:hover {
    background-color: $orangeHover;
  }
}

.secondaryBtn {
    background-color: transparent;
    color: var(--orange);
    border-radius: 6px;
    padding: 10px 15px;
    border: 1px solid var(--orange);
    width: max-content;
    min-width: 125px;

    &:hover {
        background-color: $hover;
        color: var(--orange-dark);
    }
}

.editBtn {
  color: var(--admin-primary);
  &:hover {
    background: var(--admin-primary);
    color: #fff;
  }
}

.deleteBtn {
  color: var(--admin-danger);
  &:hover {
    background: var(--admin-danger);
    color: #fff;
  }
}