@import "@/styles/index.scss";

.form {
    display: flex;
    width: 100%;
    gap: 10px;
    background-color: rgb(243, 243, 243, .6);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 6px;

    @media (max-width: 520px) {
        flex-direction: column;
    }
}

